<link rel="stylesheet" href="../../dist/output.css">
<!-- Overlays that will be hidden in css, and shown when checkbox checked -->
<!-- Implement the Success Modal. Placement of the modal has to be fixed at a later point in time, due to not having a clear instruction on where the modal should be. -->
<section class="border-none w-70 h-28.5 md:w-84.25 md:h-28.5 md:justify-center flex items-center md:gap-13.25 gap-4 bg-[#E8F5E9] mb-12 ml-4 drop-shadow-[-2px_4px_4px_rgba(0,0,0,0.25)]">
<img src="../../public/icons/success.png" alt="an icon with a checkmark symbolizing success" class="w-20 h-20 ml-2 md:ml-2">
<h1 class="text-[1.25rem] text-[#2D7230] text-left font-Poppins font-bold tracking-[0.5px] ">Files were <br> successfully <br>added!</h1>

  <button><img src="../../public/icons/green-x.png" alt="an green X that can be clicked to close the window" class="h-5 w-5 -mt-14.5 -ml-1"></button>
</section>




<!-- Delete User - used on manage user pages -->
<div>
  <h2>Delete selected user?</h2>
  <button>
    <img src="../../public/icons/x.png">
  </button>
  <p>
    Are you sure you want to delete selected user? This action is permanent and
    cannot be undone.
  </p>
  <button>Yes, delete user</button>
  <button>Cancel</button>
</div>

<!-- Delete Student - used on select student -->
<div>
  <h2>Delete Selected Student?</h2>
  <button>
    <img src="../../public/icons/x.png">
  </button>
  <p>
    Are you sure you want to delete selected student? This action is permanent
    and cannot be undone.
  </p>
  <button>Yes, delete student</button>
  <button>Cancel</button>
</div>

<!-- Delete Student Results - used on student results -->
<div>
  <h2>Delete This Student's Results?</h2>
  <button>
    <img src="../../public/icons/x.png">
  </button>
  <p>
    Are you sure you want to delete this student's selected results? This action
    is permanent and cannot be undone.
  </p>
  <button>Yes, delete results</button>
  <button>Cancel</button>
</div>

<!-- Top Performing  - used on Top students overview -->
<div>
  <button><img src="../../public/icons/x.png" /></button>
  <div>
    <div>
      <h2>Student ID</h2>
      <p>1921840</p>
    </div>
    <div>
      <h2>Year</h2>
      <p>2020</p>
    </div>
  </div>
  <div>
    <div>
      <h2>First name</h2>
      <p>Joe</p>
    </div>
    <div>
      <h2>Last name</h2>
      <p>Bloggs</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Subject</h2>
      <p>Mathematics</p>
    </div>
    <div>
      <h2>Grade</h2>
      <p>A</p>
    </div>
  </div>
</div>

<!-- Your Results - used on  Results student student's view -->
<div>
  <button><img src="../../public/icons/x.png" /></button>
  <div>
    <div>
      <h2>Year</h2>
      <p>2020</p>
    </div>
    <div>
      <h2>Term</h2>
      <p>3</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Subject</h2>
      <p>Mathematics</p>
    </div>
    <div>
      <h2>Exam</h2>
      <p>M1</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Results</h2>
      <p>90/120</p>
    </div>
    <div>
      <h2>Grade</h2>
      <p>B</p>
    </div>
  </div>
</div>

<!-- Student Results  - used on  Results student teacher's view -->
<div>
  <button><img src="../../public/icons/x.png" /></button>
  <div>
    <div>
      <h2>Year</h2>
      <p>2020</p>
    </div>
    <div>
      <h2>Term</h2>
      <p>3</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Subject</h2>
      <p>Mathematics</p>
    </div>
    <div>
      <h2>Exam</h2>
      <p>M1</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Results</h2>
      <p>90/120</p>
    </div>
    <div>
      <h2>Grade</h2>
      <p>B</p>
    </div>
  </div>
  <div>
    <button>Edit</button>
    <button>Delete</button>
  </div>
</div>

<!-- Student Results Edit  - used when clicking "Edit" on  Student Results -->
<div>
  <button><img src="../../public/icons/x.png" /></button>
  <div>
    <div>
      <h2>Year</h2>
      <p>2020</p>
    </div>
    <div>
      <h2>Term</h2>
      <p>3</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Subject</h2>
      <p>Mathematics</p>
    </div>
    <div>
      <h2>Exam</h2>
      <p>M1</p>
    </div>
  </div>
  <div>
    <div>
      <h2>Results</h2>
      <p>90/120</p>
    </div>
    <div>
      <h2>Grade</h2>
      <input type="text" maxlength="1" name="grade" value="B" />
    </div>
  </div>
  <div>
    <button>Update</button>
    <button>Cancel</button>
  </div>
</div>