<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>About</title>
</head>
<body class="bg-neutral-light-gray">
    <header>
        <nav>
            <img src="../public/img/logo-header.png" alt="logo">
            <ul>
                <li><a href="#" class="font-heading hover:underline"></a>Dashboard</li>
                <li><a href="#" class="font-heading hover:underline"></a>About</li>
                <li><a href="#" class="font-heading hover:underline"></a>Contact</li>
            </ul>
            <img src="../public/icons/user-circle.png" alt="user logo">
        </nav>
    </header>
    <main>
        <section>
            <h1 class="font-heading">About</h1>
            <p class="font-body">Edugate was built to provide students with an easier way to access their exam results.</p>
            <p>Schools can sign up, quickly register their students & create private accounts for them to access their results.</p>
        </section>
        <section>
            <button>Sign Up</button>
            <button>Log In</button>
        </section>
    </main>
    <footer>
        <img src="../public/img/circle-footer.png" alt="">
    </footer>
    
</body>
</html>