<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="../dist/output.css">
    <title>About</title>
</head>
<body class="bg-neutral-light-gray flex-col min-h-screen">
    <header class="bg-neutral-light-gray text-neutral-dark-gray p-4">
        <nav class="max-w-7x1 mx-auto flex justify-between">
            <img src="../public/img/logo-header.png" alt="logo" class="h-10 w-10 object-cover ml-4">
            <ul class="flex gap-4">
                <li><a href="../templates/index.html" class="font-heading hover:underline"></a>Dashboard</li>
                <li><a href="#" class="font-heading hover:underline"></a>About</li>
                <li><a href="#" class="font-heading hover:underline"></a>Contact</li>
            </ul>
            <img src="../public/icons/user-circle.png" alt="user logo" class="h-10 w-10 object-cover ml-4">
        </nav>
    </header>
    <main class="bg-neutral-light-gray flex flex-col justify-center">
        <section class="flex-auto text-center">
            <h1 class="font-heading text-neutral-dark-gray text-2xl font-bold p-4 mb-4">About</h1>
            <p class="font-body">Edugate was built to provide students with an easier way to access their exam results.</p>
            <p class="font-body">Schools can sign up, quickly register their students & create private accounts for them to access their results.</p>
            <button class="primary-button">Sign Up</button>
            <button class="secondary-button">Log In</button>
        </section>
        <!-- <section class="px-64 -mt-40">
            <button class="bg-secondary py-4 w-24 rounded-md text-neutral-light-gray">Sign Up</button>
            <button class="border-b-secondary w-24 rounded-md text-secondary font-semibold">Log In</button>
        </section> -->
    </main>
    <footer class="p-4 ml-10 mr-10">
        <img src="../public/img/circle-footer.png" alt="" class="mx-auto">
    </footer>
</body>
</html>
