<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Rebecca Våge Husa"/>
    <meta
      name="description"
      content="The add students page for Edugate. Edugate is a result management system for high schools in Nigeria."/>
    <link rel="stylesheet" href=""/>
    <script src="" defer></script>
    <title>Edugate | Add students</title>
</head>
<body>
  <header></header>
  <main>
    <nav>
      <a href="#">Dashboard</a> &gt;
      <a href="#">Add students</a>
    </nav>
    <h1>Add students</h1>
    <h2>To add students, upload an excel spreadsheet with this format:</h2>
    <table border="1">
      <thead>
        <tr>
          <th>#</th>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
          <th>E</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>first_name</td>
          <td>surname</td>
          <td>grad_year</td>
          <td>id</td>
          <td>dob</td>
        </tr>
        <tr>
          <td>2</td>
          <td>First Name</td>
          <td>Second Name</td>
          <td>Year of graduation</td>
          <td>School student ID number</td>
          <td>Date of Birth</td>
        </tr>
        <tr>
          <td>3</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        </tr>
        <tr>
          <td>4</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
          <td>#</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="upload-button">Upload +</button>
    <button type="button" class="back2dashb-button">Back to dashboard</button>
  </main>
  <footer></footer>
</body>
</html>
