<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ebbe Stankiewicz"/>
    <meta name="description" content="The Add School page for Edugate. Edugate is a result management system for high schools in Nigeria."/>
    <title>Edugate | Add School</title>
    <link rel="stylesheet" href="../dist/output.css" />
    <style>
        @media screen and (max-width: 320px) {
            table {
                font-size: 8px;
            }
            th, td {
                padding: 0.5rem 0.5rem;
            }
        }
        @media screen and (max-width: 640px) {
            .primary-button, .secondary-button {
                padding: 4px 10px;
                font-size: 10px;
            }
        }
    </style>
</head>
<body class="bg-gray-100">
    <header></header>
    <main class="max-w-screen-xl mx-auto p-4 sm:p-6">
        <section class="mb-4 text-sm">
            <nav>
                <a href="#" class="text-gray-500 hover:text-gray-700">Dashboard</a> &gt;
                <a href="#" class="text-green-600 font-medium">Add school</a>
            </nav>
        </section>
        <section class="mb-10 text-center">
            <h1 class="text-2xl sm:text-3xl font-bold text-gray-800">Add school</h1>
            <p class="text-gray-600 text-sm sm:text-base mt-4">To add a school, upload an Excel spreadsheet with this format:</p>
        </section>
        <section class="w-full overflow-hidden">
            <div class="w-full overflow-hidden">
                <!-- Table that scales up on larger screens -->
                <table class="w-full max-w-full table-auto border border-gray-300 text-left text-xs sm:text-sm">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-[10px] sm:text-xs">
                            <th class="px-1 sm:px-4 py-1">#</th>
                            <th class="border border-gray-300 px-1 sm:px-4 py-1 text-center">A</th>
                            <th class="border border-gray-300 px-1 sm:px-4 py-1 text-center">B</th>
                            <th class="border border-gray-300 px-1 sm:px-4 py-1 text-center">C</th>
                            <th class="border border-gray-300 px-1 sm:px-4 py-1 text-center">D</th>
                            <th class="border border-gray-300 px-1 sm:px-4 py-1 text-center">E</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-gray-200 border border-gray-300 px-1 sm:px-4 py-1">1</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">school_name</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">city</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">postcode</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">address_1</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">contact</td>
                        </tr>
                        <tr>
                            <td class="bg-gray-200 border border-gray-300 px-1 sm:px-4 py-1">2</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">School name</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">City</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">Postcode</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">Address</td>
                            <td class="border border-gray-300 px-1 sm:px-4 py-1">Number</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="mt-6 flex flex-col gap-3 items-center">
            <button type="button" class="primary-button py-2 px-6 text-sm">
                Upload +
            </button>
            <button type="button" class="secondary-button py-2 px-6 text-sm">
                Back to dashboard
            </button>
        </section>
    </main>
</body>
</html>


