<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Rebecca Våge Husa"/>
    <meta name="description" content="The add students page for Edugate. Edugate is a result management system for high schools in Nigeria."/>
      <link rel="stylesheet" href="../dist/output.css" />
    <script src="" defer></script>
    <title>Edugate | Add students</title>
</head>
<body class="bg-gray-100">
  <header></header>
  <main class="max-w-4xl mx-auto p-6 mt-6">
    <section class="mb-6">
      <nav class="text-sm">
        <a href ="#" class="text-gray-500 hover:text-gray-700">Dashboard</a> &gt;
        <a href="#" class="text-green-600 font-medium">Add students</a>
      </nav>
    </section>
    <section class="mb-6 flex flex-col justify-center items-center py-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Add students</h1>
    <p class="text-gray-600">To add students, upload an excel spreadsheet with this format:</p>
    </section>
    <table border="1" class="w-full border border-gray-300 text-left text-sm">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-xs">
          <th class="bg-gray-200 text-gray-600 uppercase text-xs px-4 py-2">#</th>
          <th class="border border-gray-300 px-4 py-2">A</th>
          <th class="border border-gray-300 px-4 py-2">B</th>
          <th class="border border-gray-300 px-4 py-2">C</th>
          <th class="border border-gray-300 px-4 py-2">D</th>
          <th class="border border-gray-300 px-4 py-2">E</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="bg-gray-200 border border-gray-300 px-4 py-2">1</td>
          <td class="bg-white border border-gray-300 px-4 py-2">first_name</td>
          <td class="bg-white border border-gray-300 px-4 py-2">surname</td>
          <td class="bg-white border border-gray-300 px-4 py-2">grad_year</td>
          <td class="bg-white border border-gray-300 px-4 py-2">id</td>
          <td class="bg-white border border-gray-300 px-4 py-2">dob</td>
        </tr>
        <tr>
          <td class="bg-gray-200 border border-gray-300 px-4 py-2">2</td>
          <td class="bg-white border border-gray-300 px-4 py-2">First Name</td>
          <td class="bg-white border border-gray-300 px-4 py-2">Second Name</td>
          <td class="bg-white border border-gray-300 px-4 py-2">Year of Graduation</td>
          <td class="bg-white border border-gray-300 px-4 py-2">School student ID Number</td>
          <td class="bg-white border border-gray-300 px-4 py-2">Date of Birth</td>
        </tr>
        <tr>
          <td class="bg-gray-200 border border-gray-300 px-4 py-2">3</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
        </tr>
        <tr>
          <td class="bg-gray-200 border border-gray-300 px-4 py-2">4</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
          <td class="bg-white border border-gray-300 px-4 py-2">#</td>
        </tr>
      </tbody>
    </table>
    <div class="flex flex-col items-center justify-center space-y-4">
        <button type="button" class="px-6 py-2 max-w-xs bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 transition mt-6">Upload +</button>
        <button type="button" class="px-6 py-2 max-w-xs bg-white text-blue-500 border-2 border-blue-500 font-semibold rounded-md hover:bg-blue-100 hover:text-blue-700 transition">Back to dashboard</button>
    </div>
  </main>
  <footer></footer>
</body>
</html>