<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ebbe Stankiewicz"/>
    <meta name="description" content="The Add School page for Edugate. Edugate is a result management system for high schools in Nigeria."/>
    <title>Edugate | Add School</title>
    <link rel="stylesheet" href="../dist/output.css" />
</head>
<body class="bg-gray-100">
    <header></header>
    <main class="max-w-4xl mx-auto p-6 mt-6">
        <section class="mb-6">
			<nav class="text-sm">
                <a href="#" class="text-gray-500 hover:text-gray-700">Dashboard</a> &gt;
                <a href="#" class="text-green-600 font-medium">Add school</a>
			</nav>
		</section>
        <section class="mb-6 flex flex-col justify-cente items-center">
            <h1 class="text-3xl font-bold text-gray-800 mb-4">Add School</h1>
            <p class="text-gray-600">To add a school, upload an Excel spreadsheet with this format:</p>
        </section>
        <section>
            <table class="w-full border border-gray-300 text-left text-sm">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-xs">
                        <th class="bg-gray-200 text-gray-600 uppercase text-xs px-4 py-2">#</th>
                        <th class="border border-gray-300 px-4 py-2 text-center">A</th>
                        <th class="border border-gray-300 px-4 py-2 text-center">B</th>
                        <th class="border border-gray-300 px-4 py-2 text-center">C</th>
                        <th class="border border-gray-300 px-4 py-2 text-center">D</th>
                        <th class="border border-gray-300 px-4 py-2 text-center">E</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="bg-gray-200 border border-gray-300 px-4 py-2" scope="col">1</th>
                        <th class="bg-white border border-gray-300 px-4 py-2" scope="col">school_name</th>
                        <th class="bg-white border border-gray-300 px-4 py-2" scope="col">city</th>
                        <th class="bg-white border border-gray-300 px-4 py-2" scope="col">postcode</th>
                        <th class="bg-white border border-gray-300 px-4 py-2" scope="col">address_1</th>
                        <th class="bg-white border border-gray-300 px-4 py-2" scope="col">contact</th>
                    </tr>
                    <tr>
                        <td class="bg-gray-200 border border-gray-300 px-4 py-2">2</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">School name</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">City</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">Postcode</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">Address</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">Number</td>
                    </tr>
                    <tr>
                        <td class="bg-gray-200 border border-gray-300 px-4 py-2">3</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                    </tr>
                    <tr>
                        <td class="bg-gray-200 border border-gray-300 px-4 py-2">4</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                        <td class="bg-white border border-gray-300 px-4 py-2">#</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="mt-6 flex flex-col gap-4 justify-center items-center">
            <button type="button" class="primary-button">Upload +</button>
            <button type="button" class="secondary-button">Back to dashboard</button>
        </section>
    </main>
</body>
</html>