<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 186-manage-student-user-admin
    <title>Manager Student User Admin</title>
 
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body class="bg-neutral-light-gray">
    <header class="bg-neutral-light-gray text-neutral-dark-gray p-4">
        <nav class="max-w-7x1 mx-auto flex justify-between">
          <img src="../public/img/logo-header.png" alt="logo">
          <ul class="flex gap-4">
            <li><a href="#" class="font-heading hover:underline">About</a></li>
            <li><a href="#" class="font-heading hover:underline">Contact</a></li>
          </ul>
        </nav>
    </header>
    <main class="bg-neutral-light-gray">
        <section>
            <img src="../public/img/heroimage-edugate.png" alt="">

            <h1 class=" text-neutral-dark-gray text-2xl font-bold font-heading p-4 mb-4">Edugate</h1>
            <h2>Welcome to Edugate, the platform that lets you access your exam results online</h2>
            <section class="px-64 -mt-40">
                <button class="bg-primary w-24 rounded-md text-neutral-light-gray">Sign up</button>
                <button class="border-b-secondary w-24 rounded-md text-secondary font-semibold">Log in</button>
            </section>


        </section>
   
    </main>
    <footer>
        <img src="../public/img/circle-footer.png" alt="">
    </footer>

</body>
</html>