<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>Landing page Edugate</title>
</head>

<body class="bg-neutral-light-gray">
    <header class="bg-neutral-light-gray text-neutral-dark-gray xl:mb-[3.8125rem] 2xl:mb-0 ">
        <nav class="flex items-center justify-between pr-20 pl-12 max-w-[1440px] mx-auto">
            <img class="" src="../public/img/logo-header.png" alt="Edugate Logo">

            <!-- Hamburger Menu -->
            <div class="relative md:hidden">
                <!-- Checkbox for Hamburger Toggle -->
                <input type="checkbox" id="menu-toggle" class="peer hidden">
                <!-- Hamburger Icon -->
                <label for="menu-toggle" class="block cursor-pointer peer-checked:hidden focus:outline-none"
                    aria-label="Toggle menu">
                    <svg class="mr-4 h-14 w-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </label>

                <div
                    class="text-neutral-dark-gray fixed inset-0 z-50 translate-x-full transform bg-white transition-transform duration-300 peer-checked:translate-x-0">
                    <!-- Close Icon -->
                    <label for="menu-toggle" class="absolute top-4 right-4 cursor-pointer focus:outline-none"
                        aria-label="Close menu">
                        <svg class="mt-8 h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </label>

                    <ul class="mt-40 mr-8 flex h-full flex-col items-end justify-start gap-10 text-xl">
                        <li>
                            <a href="#"
                                class="hover:border-primary flex items-center gap-5 border-b-2 border-white p-3">
                                Login
                                <img class="h-6 w-6" src="../public/icons/login.png" alt="Login Icon">
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="hover:border-primary flex items-center gap-5 border-b-2 border-white p-3">
                                Signup
                                <img class="h-6 w-6" src="../public/icons/signup.png" alt="Signup Icon">
                            </a>
                        </li>
                        <li>
                            <a href="../about.html"
                                class="hover:border-primary flex items-center gap-5 border-b-2 border-white p-3">
                                About
                                <img class="h-6 w-6" src="../public/icons/about.png" alt="About Icon">
                            </a>
                        </li>
                        <li>
                            <a href="../contact.html"
                                class="hover:border-primary flex items-center gap-5 border-b-2 border-white p-3">
                                Contact
                                <img class="h-6 w-6" src="../public/icons/contact.png" alt="Contact Icon">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="font-Poppins hidden items-center text-xl font-medium md:flex">
                <li
                    class="hover:border-primary flex w-[15.5rem] flex-col items-center py-[1.438rem] hover:border-b active:border-b-2 active:font-bold">
                    <a href="../about.html" class="font-heading">About</a>
                </li>
                <li
                    class="hover:border-primary flex w-[15.5rem] flex-col items-center py-[1.438rem] hover:border-b active:border-b-2 active:font-bold">
                    <a href="../contact.html" class="font-heading">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="bg-neutral-light-gray">
        <section class="flex flex-col items-center justify-between lg:h-[45rem] lg:bg-[url(../public/img/heroimage-edugate.png)] bg-top bg-cover bg-no-repeat lg:bg-center lg:bg-cover xl:bg-contain lg:bg-no-repeat">
            <div class="flex flex-col items-center justify-between lg:justify-start text-center h-[18.75rem] lg:h-[8.375rem] bg-[url(../public/img/heroimage-edugate.png)] lg:bg-none bg-cover bg-no-repeat bg-center lg:mt-[0.8125rem] lg:p-10">
                <h1 class="text-neutral-dark-gray font-Poppins font-bold">
                    Edugate
                </h1>
                <p class="mx-5 lg:font-medium font-Roboto">
                    Welcome to Edugate, the platform that lets you access your exam
                    results online
                </p>
            </div>
            <div
                class="flex flex-col items-center gap-6 mt-4 lg:mb-16 lg:flex-row">
                <a href = "../templates/sign-up.html">
                <button
                    class="bg-primary text-neutral-light-gray hover:bg-primary-hover flex h-[40px] w-[100px] items-center justify-center rounded-md text-[18px] font-Poppins font-bold lg:h-[3.69rem] lg:w-[8.315rem] lg:px-2.5 lg:py-5 lg:text-[24px]">
                    Sign Up
                </button></a>
                <a href = "../templates/login-page.html">
                <button
                    class="border-secondary text-secondary hover:bg-secondary-hover box-border flex h-[40px] w-[100px] items-center justify-center rounded-md border-2 text-[18px] font-Poppins font-bold lg:h-[59px] lg:w-[100px] lg:text-[24px]">
                    Log In
                </button></a>
            </div>
        </section>
    </main>
    <footer class="mt-35 flex justify-end sm:mt-10 sm:justify-center xl:mt-[3.8125rem] 2xl:mt-10">
        <img class="sm:hidden" src="../public/img/Circles_illustration_mobile.png" alt="Edugate footer circles">
        <img class="hidden shrink-0 sm:block" src="../public/img/circle-footer.png"
            alt="Edugate footer circles">
    </footer>
</body>

</html>