<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ingelinn Hallseth" />
    <meta
      name="description"
      content="The Log In page for Edugate. Edugate is a result management system for high schools in Nigeria."
    />
    <link rel="stylesheet" href="../dist/output.css" />
    <script src="" defer></script>
    <title>Edugate | Log In</title>
  </head>
  <body class="bg-gray-50">
    <header></header>
    <main>
      <div class="w-full max-w-sm justify-self-center mb-6 mt-6">
        <form
          class="bg-gray-50 shadow-inner px-12 pt-6 pb-8 mb-4"
          action="submit-form-here"
          method="post"
        >
          <h1 class="text-3xl text-center text-gray-700 font-bold mt-4 mb-10">
            Log in
          </h1>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-base font-bold mb-2"
              for="email"
              >Email</label
            >
            <input
              class="shadow-inner border rounded-lg w-full py-2 px-3 text-gray-700 text-sm"
              type="email"
              name="email"
              id="email"
              placeholder="example@mail.com"
              required
            />
          </div>
          <div class="mb-6">
            <label
              class="block text-gray-700 text-base font-bold mb-2"
              for="password"
              >Password</label
            >
            <input
              class="shadow-inner border rounded-lg w-full py-2 px-3 text-gray-700 text-sm"
              type="password"
              name="password"
              id="password"
              placeholder="Enter password"
              required
            />
          </div>
          <p class="mb-6 text-center text-sm">
            Forgot your password? Click <a class="font-bold" href="#">here</a>.
          </p>
          <div class="text-center mb-4">
            <button
              type="submit"
              class="bg-green-500 hover:bg-green-700 text-white font-semibold text-base py-2.5 px-5 rounded-md"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
