<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ingelinn Hallseth" />
    <meta
      name="description"
      content="The Log In page for Edugate. Edugate is a result management system for high schools in Nigeria."
    />
    <link rel="stylesheet" href="../dist/output.css" />
    <script src="" defer></script>
    <title>Edugate | Log In</title>
  </head>

  <body class="bg-neutral-light-gray font-Roboto">
    <header class="bg-neutral-light-gray text-neutral-dark-gray">
      <nav class="flex items-center justify-between px-2 border-b-2 border-[#D1D1D1] md:border-hidden">
        <a href="../templates/index.html">
          <img class="w-44 h-44 hidden md:flex" src="../public/img/logo-header.png" alt="Edugate Logo">
          <img class="w-16 h-16 md:hidden" src="../public/img/logo-small-header.png" alt="Edugate Logo">
        </a>

      <div class="md:hidden">
        <input type="checkbox" id="menu-toggle" class="hidden peer"/>
        <label for="menu-toggle" class="peer-checked:hidden" aria-label="Toggle menu">
          <img src="../public/icons/hamburger-menu.png" alt="hamburger menu icon toggle button" class="w-6.25 h-6.25 cursor-pointer">
        </label>
        <div class="fixed inset-0 bg-white text-neutral-dark-gray z-100 transform translate-x-full peer-checked:translate-x-0 transition-transform duration-300">
          <label for="menu-toggle" class="cursor-pointer focus:outline-none" aria-label="Close menu">
            <img src="../public/icons/x-close(1).jpg" alt="hamburger menu icon toggle button" class="w-6.25 h-6.25 mb-4 flex justify-end ml-auto mr-4 mt-4">
            <img src="../public/img/logo-header.png" alt="Edugate Logo" class="w-16 h-16 flex mr-4 -mt-14">
          </label>
          <ul class="flex flex-col items-end justify-start gap-10 text-xl">
            <li>
              <a href="login-page.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                Login
                <img class="w-6 h-6" src="../public/icons/login.png" alt="login Icon">
              </a>
            </li>
            <li>
              <a href="sign-up.html" class="flex items-center gap-5 p-3 border-b-2 border-white hover:border-primary">
                Sign up
                <img class="w-6 h-6" src="../public/icons/signup.png" alt="signup Icon">
              </a>
            </li>
            <li>
              <a href="about.html" class="flex items-center gap-5 p-3 border-b-2 border-transparent hover:border-primary cursor-pointer">
                About
                <img class="w-6 h-6" src="../public/icons/about.png" alt="About Icon">
              </a>
            </li>
            <li>
              <a href="contact.html" class="flex items-center gap-5 p-3 border-b-2 border-transparent hover:border-primary cursor-pointer">
                Contact
                <img class="w-6 h-6" src="../public/icons/contact.png" alt="Contact Icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="hidden md:flex font-Poppins font-semibold ml-auto text-[1.25rem] items-center justify-center text-center">
        <li>
          <a href="about.html" class="md:px-20 lg:px-31 py-8 border-b-1 border-transparent hover:border-primary cursor-pointer">
            About</a>
        </li>
        <li>
          <a href="contact.html" class="md:px-20 lg:px-31 py-8 border-b-1 border-transparent hover:border-primary cursor-pointer">
            Contact</a>
        </li>
      </ul>
    </nav>
  </header>

    <main>
      <div class="w-full max-w-sm sm:max-w-md mx-auto mt-6 px-4 sm:px-0">
        <form
          class="bg-neutral-light-gray border-0 sm:border-3 sm:border-[#cccccc] shadow-none sm:inset-shadow-sm sm:inset-shadow-[#cccccc] px-10 sm:px-12 pt-6 sm:pt-8 pb-8 sm:pb-10 mb-4"
          action="submit-form-here"
          method="post"
        >
          <h1 class="text-neutral-dark-gray text-center font-Poppins text-[32px] font-bold tracking-wide mb-12 sm:mb-4 grid gap">Log in</h1>
          <div class="mb-6 grid gap-4 md:gap-6">
            <label
              class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide gap-[50]"
              for="email"
              >Email</label
            >
            <input
              class="bg-white border border-[#cccccc] inset-shadow-sm inset-shadow-[#cccccc] rounded-md focus:border-primary focus:ring-0 w-full py-2 px-3 sm:px-4 text-neutral-dark-gray text-sm sm:text-base"
              type="email"
              name="email"
              id="email"
              placeholder="example@mail.com"
              required
              autocomplete="email"
              inputmode="email"
            />
          </div>
          <div class="mb-6 grid gap-4 md:gap-6">
            <label
              class="block text-neutral-dark-gray font-Roboto text-base sm:text-sm font-bold tracking-wide"
              for="password"
              >Password</label
            >
            <input
              class="bg-white border border-[#cccccc] inset-shadow-sm inset-shadow-[#cccccc] rounded-md focus:border-primary focus:ring-0 w-full py-2 px-3 sm:px-4 text-dark-medium-gray text-sm sm:text-base"
              type="password"
              name="password"
              id="password"
              placeholder="Enter password"
              required
              autocomplete="current-password"
            />
          </div>
          <p
            class="mb-6 text-center md:text-left text-sm sm:text-base font-light sm:font-normal text-neutral-dark-gray font-Roboto"
          >
            Forgot your password? Click
            <a class="font-bold hover:cursor-pointer" href="#">here</a>.
          </p>
          <div class="flex-center m-auto text-center mb-4 md:mt-6 md:w-35">
            <button type="submit" class="primary-button primary-button:hover shadow-[inset_0_4px_4px_rgba(0,0,0,0.2)]">
              Submit
            </button>
          </div>
        </form>
      </div>
    </main>

  <footer class="flex justify-center">
    <img src="../public/img/circle-footer.png" alt="two colorful circles where one is blue and one is green"
      class="mt-19 hidden md:flex">
    <img src="../public/img/Circles_illustration_mobile.png"
      alt="two colorful circles where one is blue and one is green" class="md:hidden mt-4 flex ml-auto justify-baseline ">
  </footer>
 </Body>
</html>