<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Thea">
    <meta lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edugate | Top Performing Students</title>
    <meta name="description" content="Teachers dashboard to view top performing students">
    <link href="../css/output.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="w-full bg-neutral-light-gray">
    <header></header>

    <main class="flex flex-col content-center px-8 gap-12 pb-8">
        <div class="text-neutral-medium-gray flex p-8 gap-6">
            <a href="#">Home</a> <span>&gt;</span> <a href="#">Dashboard</a> <span>&gt;</span> <p class="text-primary">Top Performing Students</p>
        </div>
        
        <div class="flex flex-col gap-12 items-center">
            <h1 class="w-fit font-bold text-3xl">Top Performing Students</h1>
        
            <p class="w-fit">View the top performing students in your classes.</p>
        
            <div class="w-1/6 h-12">
                <input class="w-full h-10 p-2 rounded-md text-neutral-medium-gray border" type="text" placeholder="Search for student...">
            </div>
        </div>
        
        <table class="bg-table rounded-md w-full">
            <thead>
                <tr class="text-primary text-2xl justify-end text-left">
                    <th class="p-4">Student ID</th>
                    <th class="p-4">First Name</th>
                    <th class="p-4">Last Name</th>
                    <th class="p-4">Year</th>
                    <th class="p-4">Subject</th>
                    <th class="p-4">Grade</th>
                </tr>
            </thead>
            <tbody class="text-xl text-neutral-dark-gray">
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
                <tr class="hover:bg-table-hover hover:cursor-default">
                    <td class="p-4">1921840</td>
                    <td class="p-4">Joe</td>
                    <td class="p-4">Bloggs</td>
                    <td class="p-4">2020</td>
                    <td class="p-4">Mathematics</td>
                    <td class="p-4">A</td>
                </tr>
            </tbody>
        </table>
        
        <ul class="flex flex-row gap-4 self-center text-xl text-neutral-medium-gray">
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">&laquo;</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">&lsaquo;</a></li>
            <li class="rounded-md text-primary border border-y-primary w-10 h-fit flex place-content-center p-1"><a href="#">1</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">2</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">...</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">7</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">8</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">&rsaquo;</a></li>
            <li class="rounded-md border w-10 h-fit flex place-content-center p-1"><a href="#">&raquo;</a></li>
        </ul>
        
        <button class="border-2 border-s-secondary rounded-md text-secondary py-2 px-5 w-fit self-center text-2xl font-semibold" href="#">Back to dashboard</button>
    </main>
    <footer></footer>
</body>
</html>